.mw-340 {
  max-width: 340px;
  min-width: 340px;
}
.rt-feed {
  background-color: #8efff9;
  top: 109px;
  right: 0px;
  height: 100%;
  z-index: 97;
}
.sug-box {
  height: 200px;
  width: 97%;
  background: #ffffff;
  border-radius: 5px;
  margin: auto;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 499px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .something {
    display: none;
  }
}
